{{#each contents}}
  <div class="isg-section" id="{{id}}">
    <div class="isg-h2">{{name}}</div>
    <br>
    <p class="isg-description">
    {{description}}
    </p>
    <br>
    {{#if isFile }}
      <div class="isg-page-item">
        <a href="{{url}}"><img class="isg-page-img isg-page-small" src="{{root}}{{screenshots.small}}"/></a>
        <a href="{{url}}"><img class="isg-page-img isg-page-medium" src="{{root}}{{screenshots.medium}}"/></a>
        <a href="{{url}}"><img class="isg-page-img isg-page-large" src="{{root}}{{screenshots.large}}"/></a>
      </div>
    {{/if}}

    {{>pages_main}}

  </div>
{{/each}}